body{
	width:100%;
	margin:auto;
	height:100%;
	 display:block;
	 background-repeat:none;
	 background-attachment: fixed;
}


.logo:hover{
	transition: 0.5s;
    opacity: 0.7;
}

.container{
	margin:0 auto;
}


img.log {
	position:relative;
    width:100px;
    height:100px;
}
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 200px;
	font-size:25px;
    position:relative;
	margin-left:3%;
}
img.servizi{
    width: 100px;
    height: 100px;
}
.caption {
	display: block;
}
.header{
	background:white;
	width:100%;
	top:0;
	position:fixed;
	z-index: 999;
	border-bottom:2px solid;
}

.content{
	background:white;
	opacity:0.9;
	position:relative;
	margin-left:200px;
	margin-right:200px;
}
p{
	padding:0;
}

.logo{
	float:left;
	font-family: 'Patua One', cursive;
	background.gray;
}

.nav{
	position:relative;
	right:20px;
	float:right;
	font-family: 'Mali', cursive;
}


li.nav1{
	list-style:none;
	float:left;
	padding-left:10px;
	padding-right:60px;
}

a{
	color:inherit;
    text-decoration: none;
}

.main{
font-family: 'Gloria Hallelujah', cursive;
font-size:30px;
z-index:997;
}

.main-img{	
	text-align:center;
}

.footer{
	height:100px;
}

.ciccio{
	height:100px;
	width:100px;
	padding-left:7%;
}

.ciccio2{
	display:inline;
}

p{
	font-size:20px;
}



div.chisiamo{
	width:100%;
	text-align:center;
	font-size:40px;
}

div.text-chisiamo{
	padding-left:5%;
	padding-right:5%;
	font-size:20px;
}

div.servizi{
	width:100%;
}

div.serivizispecifico{
	font-size:20px;
}

div.serivizispecifico1{
	padding-left:5%;
	font-size:20px;
}


